*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --clr-primary: rgb(32, 31, 31);
  --clr-primary-dark-schema: rgb(237, 237, 237);
}

body {
  color: var(--clr-primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: var(--clr-primary-dark-schema);
  }

}