.main {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.building {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  width: 100%;
  height: 210vw;
  object-fit: cover;

  opacity: 0;
  transition: opacity 6s linear;
  animation: show 6s linear 2s forwards;
}

.title,
.subtitle {
  font-size: 1.7rem;
  font-family: var(--font-title);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  position: absolute;
  transform: translate(-50%);

  opacity: 0;
  transition: opacity 6s linear;
  animation: show 4s linear 0s forwards;
}

.title {
  left: 50%;
  top: 15vh;
  text-shadow: 0px -6px 5px #999,
    0px 1px 4px #bbb;
}

.subtitle {
  left: 50%;
  bottom: 25vh;
  text-shadow: 0px -4px 4px #888,
    0px 2px 4px #999;
}


/*----------- @MEDIA -----------*/
@media screen and (orientation: landscape) {
  .building {
    height: 150vw;
  }
}

@media screen and (orientation: landscape) and (min-width: 600px) {
  .title {
    top: 30vh
  }

  .title,
  .subtitle {
    font-size: 2.6rem;
  }
}

@media screen and (orientation: portrait) and (min-width: 400px) {
  .building {
    height: 200vw;
  }

  .subtitle {
    bottom: 12vh;
  }
}

@media screen and (orientation: portrait) and (max-aspect-ratio: 9 / 16) {
  .building {
    height: 100vh;
  }
}

@media screen and (min-width: 500px) {
  .subtitle {
    bottom: calc(75vh - (10vw * 10));
  }

  .title,
  .subtitle {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 700px) {

  .title,
  .subtitle {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 1000px) {

  .title,
  .subtitle {
    font-size: 4.3rem;
  }
}

@media screen and (min-width: 1400px) {

  .title,
  .subtitle {
    font-size: 5.1rem;
  }
}

@media screen and (min-width: 2000px) {

  .title,
  .subtitle {
    font-size: 7.5rem;
  }
}


/*----------- @KEYFRAMES -----------*/
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}