.video_container {
  position: relative;
  width: 100%;
  height: 100vh;
  aspect-ratio: 9 / 16;
}

.video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
}

.onHiding {
  opacity: 0;
  transition: opacity 6s linear;
}


/*----------- @MEDIA -----------*/
@media screen and (orientation: landscape) {
  .video_container {
    aspect-ratio: 16 / 9;
  }

  .video {
    left: 10vw;
    max-width: 80vw;
    object-position: center 70%;
  }
}

@media screen and (min-width: 700px) {
  .video_container {
    aspect-ratio: 16 / 9;
  }
}

@media screen and (min-width: 900px) {
  .video {
    object-position: center 65%;
  }
}

@media screen and (min-width: 1800px) {
  .video {
    object-position: center 70%;
    left: 12.5vw;
    max-width: 75vw;
  }
}