.video_container {
  position: relative;
  width: 100%;
  height: 100vh;
  aspect-ratio: 9 / 16;
}

.video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center 80%;
  opacity: 1;
}

.onHiding {
  opacity: 0;
  transition: opacity 6s linear;
}


/*----------- @MEDIA -----------*/
@media screen and (orientation: portrait) and (min-width: 1000px) {
  .video {
    left: 5vw;
    max-width: 90vw;
    object-position: center 70%;
  }
}

@media screen and (orientation: landscape) {
  .video_container {
    aspect-ratio: 16 / 9;
  }

  .video {
    object-position: center 10%;
  }
}